<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>

        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/style.css')}}">
    </head>
    <body bgcolor = "pink">
        <p><center><h1>Diabetes Predictor</h1></center></p>
        <form class = "form" autocomplete="off" method="POST" action="/predict">
            <div class="form-group">
                <p align="left">Gender:
                <label class="label" for="male">Male</label>
                <input class="input" type="radio" name="gender" id="male">
                <label class="label" for="female">Female</label>
                <input class="input" type="radio" name="gender" id="female"></p>
            </div>
            <div class="form-group">
                <label class="label" for="no_of_pregnancies" id="preg_label">No. of pregnancies:</label>
                <input class="input" type="text" name="no_of_pregnancies" id="no_preg" value="0">
            </div>
            <div class="form-group">
                <label class="label" for="glucose_level">Glucose Level (in mg/dl):</label>
                <input class="input" type="text" name="glucose_level">
            </div>
            <div class="form-group">
                <label class="label" for="insulin">Insulin:</label>
                <input class="input" type="text" name="insulin">
            </div>
            <div class="form-group">
                <label class="label" for="bmi">BMI:</label>
                <input class="input" type="text" name="bmi">
            </div>
            <div class="form-group">
                <label class="label" for="dpf">Diabetes Pedigree Function: </label>
                <input class="input" type="text" name="dpf">
            </div>
            <div class="form-group">
                <label class="label" for="age">Age:</label>
                <input class="input" type="text" name="age">
            </div>
            <div class="button">
                <center><button class = "pred-button" id = "predictor" type = "submit">
                    <b>Predict</b>
                </button></center>
            </div>
        </form>

        <p><center>{{message}}</center></p>
        <script src="{{url_for('static',filename='script.js')}}"></script>
    </body>
</html>